
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap'); */

@font-face {
    font-family: "Outfit";
    src: url("Outfit-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url("Outfit-Light.ttf") format("truetype");
}



* {
    box-sizing: border-box;
}


body {
    background-color: hsl(217, 54%, 11%);
    height: 100%;
    width: 100vw;
    max-width: 23.4375rem;
    min-width: 23rem;
    font-family: 'Outfit', sans-serif;
}


@media (min-width:23.4375rem) {
    body {
        width: 375px;
        height: 100vh;
        margin: auto;
    }

    
    .mobile-look {
     Margin: auto auto;
    }
}


main {
    background-color: hsl(217, 54%, 11%) ;
    height: 100vh;
    max-width: 23.4375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 


.mobile-look {
    background-color: hsl(216, 50%, 16%);
    height: auto;
    width: 90%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "main-image-container"
                         "text-section"
                         "hr"
                         "footer-section";
    
    margin: 4rem auto;
    Margin-top: 10rem;
    border-radius: 1rem;
} 


    
.main-image-container {
    grid-area: main-image-container;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: auto;
    width: 85%;
    margin: 1.5rem auto;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    position: relative;
} 

.main-image-container .main-image {
    width: 100%;
    border-radius: 0.5rem;
} 

.active-state-image {
    display: none;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    left: 0%;
}

.main-image-container:active .active-state-image,
.main-image-container:hover .active-state-image  {
    display: inline-block;
    width: 100%;
    border-radius: 0.5rem;
    position: absolute;
    left: 0%;
}



.text-section {
    grid-area: text-section;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.text-section div {
    Margin-top: 1rem;
}

.text-section__1 a {
    color: white;
    font-weight: 600;
    font-size: 23px;
    text-decoration: none;
}

.text-section__2 {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

.text-section__3 {
    color: cyan;
    font-weight:400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-section .text-section__3 {
     Margin-top: 0;
}

.text-color-change {
    color: hsl(215, 52%, 70%);
}

.text-section__3 svg {
    vertical-align: middle;
    margin-bottom: 4px;
}

.text-section__1 a:active,
.text-section__1 a:hover {
    color: cyan;
    background: none !important;
    background-color: transparent !important;
}


hr {
    grid-area: hr;
    border: 0.1px hsl(215, 52%, 70%) groove;
    width: 85%;
    margin: 0% auto;
}


.footer-section {
    grid-area: footer-section;
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
    padding: 0%;
    width: 85%;
    font-weight: 300;
    
}

.image-avatar {
    width: 12%;
}

.image-avatar img {
    width: 100%;
    border: 1px white solid;
    border-radius: 160%;
    margin: 0%;
}

.footer-section div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.author-text {
    margin-left: 0.6rem;
    color: hsl(215, 52%, 70%);
}

.author-text a {
    color: white;
    margin-left: 0.3rem;
    text-decoration: none;
}

.author-text a:active, 
.author-text a:hover {
    color: cyan;
    background: none !important;
    background-color: transparent !important;
}
